*{
    background-color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contenido {
    display: flex;
    flex-direction: column;
    align-items:center;
}
h2 {
    color: white;
}
.ofertas_especiales1, .ofertas_especiales2 {
    margin-top: 20px;
    display: flex;
    align-content: center;
    width: 100%;
    max-width:2000px;
}
.ofertas_especiales1 {
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.ofertas_especiales2 {
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
}
.ofertas_especiales1 > div, .ofertas_especiales2 > div {
    display: flex;
    flex-direction: column;
    margin: 0px 5px;
    border: 4px solid black;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.tarjeta1 {
    background-color: aqua;
}
.tarjeta2 {
    background-color:yellowgreen;
}
.tarjeta3 {
    background-color:coral;
}
.tarjeta4 {
    background-color:darkmagenta;
}
.tarjeta5 {
    background-color:goldenrod;
}
.tarjeta6 {
    background-color:palevioletred;
}
.textoizq, .textocent, .textoder {
    background-color: inherit;
    text-align: center;
    padding-bottom: 10px;
}
.textoizq > * {
    background-color: inherit;
    color: chocolate;
}
.textocent > * {
    background-color: inherit;
    color:violet;
}
.textoder > * {
    background-color: inherit;
    color:springgreen;
}
.imagen {
    background-color: inherit;
}
img {
    border-radius: 25px 75px;
    padding: 10px;
    background-color: inherit;
}