*{
    background-color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contenido {
    display: flex;
    flex-direction: column;
    align-items:center;
}
h2 {
    color: white;
}
.ofertas_especiales {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tarjetaizq {
    display: flex;
    flex-direction: column;
    margin: 0px 5px;
    border: 4px solid black;
    padding: 5px;
    background-color: aqua;
    border-radius: 10px;
}
.tarjetacentro {
    display: flex;
    flex-direction: column;
    margin: 0px 5px;
    border: 4px solid black;
    padding: 5px;
    background-color:yellowgreen;
    border-radius: 10px;
}
.tarjetader {
    display: flex;
    flex-direction: column;
    margin: 0px 5px;
    border: 4px solid black;
    padding: 5px;
    background-color:coral;
    border-radius: 10px;
}
.textoizq {
    background-color: aqua;
    text-align: center;
    padding-bottom: 10px;
}
.textoizq > * {
    background-color: aqua;
    color: chocolate;
}
.textocent {
    background-color:yellowgreen;
    text-align: center;
    padding-bottom: 10px;
}
.textocent > * {
    background-color: yellowgreen;
    color:violet;
}
.textoder {
    background-color:coral;
    text-align: center;
    padding-bottom: 10px;
}
.textoder > * {
    background-color: coral;
    color:springgreen
}
.imagenizq {
    background-color: aqua;
}
.imagencent {
    background-color: yellowgreen;
}
.imagender {
    background-color:coral;
}